<div class="promo-collection">
  <div class="container">
    <div class="promo-collection-section">
      <div>
        <img src="../../../assets/img/office-stools.png" alt=""/>
      </div>
      <div class="main">
        <h5>Quick parcel delivery, <span>from $25</span></h5>
        <h2>Shop The New Brands <br/>Up To 40% Now</h2>
        <p>Lorem ipsum dolor</p>
        <sha-button buttonStyle='MainButton'
                onClick={onClickHandler.bind(this)}>
          Shop Collection
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </sha-button>
      </div>
    </div>
  </div>
</div>
