<footer class="footer">
  <div class="footer-main">
    <div class="container">
      <div class="footer-container">

        <div class="footer-column">
          <app-logo color="white"></app-logo>
          <div class="social">
            <app-social-icons color="white"></app-social-icons>
          </div>
        </div>

        <div class="footer-column">
          <h4 class="title">
            Information Company
          </h4>
          <ul class="footer-menu">
            <li>
              <a routerLink="/my-account"
                 routerLinkActive="active"
                 class="footer-link">
                My Account</a>
            </li>
            <li>
              <a routerLink="/track"
                 routerLinkActive="active"
                 class="footer-link">
                Track Your Order</a>
            </li>
            <li>
              <a routerLink="/faq"
                 routerLinkActive="active"
                 class="footer-link">
                FAQs</a>
            </li>
            <li>
              <a routerLink="/payment-methods"
                 routerLinkActive="active"
                 class="footer-link">
                Payment Methods</a>
            </li>
            <li>
              <a routerLink="/shipping-guide"
                 routerLinkActive="active"
                 class="footer-link">
                Shipping Guide</a>
            </li>
            <li>
              <a routerLink="/products-support"
                 routerLinkActive="active"
                 class="footer-link">
                Products Support</a>
            </li>
            <li>
              <a routerLink="/gift-card-balance"
                 routerLinkActive="active"
                 class="footer-link">
                Gift Card Balance</a>
            </li>
          </ul>
        </div>

        <div class="footer-column">
          <h4 class="title">More From Sweet Home</h4>
          <ul class="footer-menu">
            <li>
              <a routerLink="/about"
                 routerLinkActive="active"
                 class="footer-link">
                About Sweet Home</a>
            </li>
            <li>
              <a routerLink="/guarantees"
                 routerLinkActive="active"
                 class="footer-link">
                Our Guarantees</a>
            </li>
            <li>
              <a routerLink="/terms"
                 routerLinkActive="active"
                 class="footer-link">
                Terms and Conditions</a>
            </li>
            <li>
              <a routerLink="/privacy-policy"
                 routerLinkActive="active"
                 class="footer-link">
                Privacy Policy</a>
            </li>
            <li>
              <a routerLink="/return-policy"
                 routerLinkActive="active"
                 class="footer-link">
                Return Policy</a>
            </li>
            <li>
              <a routerLink="/delivery"
                 routerLinkActive="active"
                 class="footer-link">
                Delivery and Return</a>
            </li>
          </ul>
        </div>

        <div class="footer-column">
          <div class="contacts">
            <h4 class="title">Let's Talk</h4>
            <p>
              <fa-icon [icon]="faPhone"></fa-icon>
              +391(0)35 2568 4593
            </p>
            <p>
              <fa-icon [icon]="faEnvelope"></fa-icon>
              sweet-home@gmail.com
            </p>
          </div>

          <div class="contacts">
            <h4 class="title">Find Us</h4>
            <p>
              <i className="fas fa-map-marker-alt"></i>
              502 New Design Str Melbourne, Australia
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="footer-container">
        <p>
          <span class="copy">&copy; 2020 Sweet Home.</span>
          All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>
