@import "../../../vars";

.breadcrumbs {
  list-style: none;
  display: flex;

  a {
    color: #888;
    text-transform: capitalize;
    padding: 0 4px;

    &:hover {
      color: $black-color;
    }
  }

  li:last-child {
    a {
      color: $black-color;
      text-decoration: none;
      cursor: default;
    }
  }
}
