.overlay {
  z-index: 150;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.drawer {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 350px;
  padding: 20px 10px;
  box-sizing: border-box;
  background-color: #FFF;
  z-index: 151;
  transform: translateX(0);
  transition: all 220ms ease-in;

  &.close {
    transform: translateX(350px);
  }
}
