<section class="container">
  <div class="promo">
    <div class="promo-item">
      <div class="promo-item-inner">
        <p class="promo-text">Quick parcel delivery, <span>from $25</span></p>
        <h4>Up To 70% Off Interior <br/> Home Decor</h4>
        <p>Lorem ipsum dolor</p>
        <sha-button class="button" buttonStyle='MainButton'>
          Shop Collection
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </sha-button>
      </div>
    </div>
    <div class="promo-item">
      <div class="promo-item-inner">
        <p class="promo-text">Quick parcel delivery, <span>from $25</span></p>
        <h4>Up To 70% Off Interior <br/> Pendent Lamp</h4>
        <p>Lorem ipsum dolor</p>
        <sha-button class="button" buttonStyle='MainButton'>
          Shop Collection
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </sha-button>
      </div>
    </div>
  </div>
</section>
