@import "../../../vars";

.promo {
  display: flex;
  margin-top: 20px;
  margin-bottom: 60px;

  .promo-item {
    width: calc(50% - 40px);
    padding: 10px;
    margin: 0 20px 20px;
    background: url(../../../assets/img/trending2.jpeg) no-repeat center;
    background-size: cover;
    position: relative;

    &:first-child {
      background: url(../../../assets/img/trending1.jpeg) no-repeat center bottom;
      background-size: cover;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $black-color;
      opacity: 0.2;
      top: 0;
      left: 0;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: 0 solid $white-color;
      opacity: 0.8;
      transition: all 0.3s ease-in-out;
    }

    &:hover::after {
      border-width: 12px;
    }
  }

  .promo-item-inner {
    padding: 40px 20px;
    text-align: left;
    position: relative;
    z-index: 4;
    color: $white-color;

    .promo-text {
      font-weight: 700;
      margin-bottom: 8px;

      span {
        color: $gold-color;
      }
    }

    h4 {
      font-size: 22px;
      margin-bottom: 12px;
    }

    .button {
      display: block;
      margin-top: 40px;
    }
  }
}
