.subscribe-section {
  background-image: url('../../../assets/img/subscribe-bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;

  .subscribe-section-container {
    background-color: rgba(255, 255, 255, 0.9);
    width: 800px;
    max-width: calc(100% - 60px);
    margin: 0 auto;
    padding: 60px 80px ;
    text-align: center;

    h4 {
      font-size: 22px;
      margin-bottom: 12px;
    }

    p {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
}
