<div class="container">
  <div class="follow-us-section">
    <h2>Follow us on Instagram</h2>
    <p>@Sweet Home Instagram</p>
    <div class="follow-us-container">

      <a routerLink="/" class="follow-us-item">
        <div class="image-wrapper">
          <img src="../../../assets/img/insta1.jpeg" alt="">
        </div>
      </a>

      <a routerLink="/" class="follow-us-item">
        <div class="image-wrapper">
          <img src="../../../assets/img/insta2.jpeg" alt="">
        </div>
      </a>

      <a routerLink="/" class="follow-us-item">
        <div class="image-wrapper">
          <img src="../../../assets/img/insta3.jpeg" alt="">
        </div>
      </a>

      <a routerLink="/" class="follow-us-item">
        <div class="image-wrapper">
          <img src="../../../assets/img/insta4.jpeg" alt="">
        </div>
      </a>

      <a routerLink="/" class="follow-us-item">
        <div class="image-wrapper">
          <img src="../../../assets/img/insta5.jpeg" alt="">
        </div>
      </a>

      <a routerLink="/" class="follow-us-item">
        <div class="image-wrapper">
          <img src="../../../assets/img/insta6.jpeg" alt="">
        </div>
      </a>

    </div>
  </div>
</div>
