<div class="article-card">
  <div class="main">
    <div class="image-wrapper">
      <img [src]="article.image" alt=""/>
    </div>
    <sha-badge [text]="article.category"></sha-badge>
      <div class="data">
        <p class="author">{{ article.author }}.</p>
        <p class="date">
          {{ date | date }}
        </p>
      </div>
      <h4 class="title">{{ article.title }}</h4>
      <p>{{ article.text }}</p>
  </div>

  <a routerLink="/"
     class="link">
    Read More
    <fa-icon [icon]="faChevronRight"></fa-icon>
  </a>
</div>
