<div class="advantages-section">
  <div class="container">
    <div class="advantages-section-container">
      <div class="advantages-item">
        <fa-icon [icon]="faPaperPlane"></fa-icon>
        <h4>Free Worldwide Shipping</h4>
        <p>On all orders over $75</p>
        <a routerLink="/"
           [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="isActive"
           class="link">
            Learn More
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </a>
      </div>
      <div class="advantages-item">
        <fa-icon [icon]="faCreditCard"></fa-icon>
        <h4>100% Payment Secure</h4>
        <p>We ensure secure payment with PEV</p>
        <a routerLink="/"
           [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="isActive"
           class="link">
          Learn More
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </a>
      </div>
      <div class="advantages-item">
        <fa-icon [icon]="faUndoAlt"></fa-icon>
        <h4>30 Days Return</h4>
        <p>Return it withing 20 day for an exchange</p>
        <a routerLink="/"
           [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="isActive"
           class="link">
          Learn More
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
